@import "./Variables.scss";

.layout {
  background-image: url("../assets/images/imagebkg.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout__img {
  width: 80%;
}

.layout__section {
  display: flex;
  flex-direction: column;
  padding: 68px 100px;
  background-color: #fff;
  @media (max-width: 991px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}
