.store {
  padding: 2%;
  &:hover {
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  }
}

.store__name {
  margin-top: 18px;
  color: #444444;
  font-size: 17px;
}

.store__address {
  color: #a5a5a5;
  font-size: 15px;
  margin: 0;
}
